.popup__input {
  outline: none;
  background-color: transparent;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  height: 27px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  box-sizing: border-box;
}
