.profile__edit {
  max-height: 24px;
  max-width: 24px;
  border: 1px solid #fff;
  padding: 7px;
  margin-top: 16px;
}

@media (max-width: 425px) {
  .profile__edit {
    max-height: 18px;
    max-width: 18px;
    padding: 5.25px;
    margin-top: 10px;
  }
}
