.elements__button-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/delete_logo.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
