.profile__add {
  margin-left: auto;
  height: 50px;
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 14px 64px;
}

@media (max-width: 768px) {
  .profile__add {
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .profile__add {
    /* display: block; */
    width: 100%;
}
}
