.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .4s;
}
.button:hover {
  opacity: .6;
}

